</div>
<footer class="footer">
    <div>
        Made with gratitude by Arpit Das
    </div>
    <div>
        Copyright © 2021 Arpit
    </div>
</footer>

<div class="contact">

</div>
</body>

</html>