<%- include ("header") %>

    <div class="row justify-content-between">
        <div class="home-image col-7">
            <div class="home-content">
                <h3>Transfer</h3>
                Ensure that your money is received by your loved ones; 
                Add a nominee to your Account to avoid any inconvenience. 
                Please visit the branch of ATM that is closest to you for more information. 
            </div>
            <div class="home-content">
                <h3>Assets</h3>
                By virtue of accessing this website, any user or viewer of this website shall be deemed 
                to have accepted website terms and conditions, if any as may be amended by the Company from time to time.
                Barclays disclaims any actual or potential liabilities, indemnities, claims, damages, losses, 
                expenses, costs of all types or nature suffered/ incurred/ paid/ borne/ made by any person or party 
                using or accessing this website or taking any decision or action using or referring to the contents of 
                this website, wholly or partially. Any disputes shall be subject to laws of Maharashtra and subject to 
                the jurisdiction of courts in Mumbai, India. 
            </div>
        </div>
        <div class="col-4">
            <img class="ccp" src="ccp.png" alt="credit-card">
           
        </div>

    </div>



 <%- include ("footer") %>