<%- include ("header") %>

    <div class="row justify-content-between">
        <div class="home-image col-7">


        </div>
        <div class="col-4">
            <img class="ccp" src="ccp.png" alt="credit-card">
        </div>

    </div>



    <%- include ("footer") %>