<%- include ("header") %>
<div class="abd"> 
    <img class="failure" src="report.png" alt="failure">
    <div class="failurepagemessage">Your Bank Transfer was unsuccessful due to some Valid reasons You may try again!</div>
        <button class="tryagain"><a href="/transferpage">Try Again</a></button>
</div>
<%- include ("footer") %>
