<%- include ("header") %>
<div class="abd">
    <img class="success" src="tick.png" alt="success">
    <div class="failurepagemessage">Your Bank Transfer was successful! Great to have you here!</div>
</div>
<%- include ("footer") %>
