<%- include ("header") %>
<div class="abd abed">
  <div class="transferpage">
<div class="card-transferinfocard" style="width: 19rem;">
    <div class="card-body"  >

      <form class="" action="/transfermoney" method="post">
        <h5 class="card-title"></h5>
          <h4 class="card-text"> Enter sender and receiver details</h4>
        <input class="card-content" type="text" name="transferfrom" placeholder="From Account no.">
        <input class ="card-content" type="text" name="transferto" placeholder="To Account no.">
        <input class="card-content" type="number" name="amount" placeholder="Amount ">
        <button class="btn btn-dark" type="submit" name="button">Pay Now</button>
      </form>
    </div>
  </div>
</div>
<img class="payment" src="payment.png" alt="payment">
</div>
<%- include ("footer") %>
